{
  "Version": {
    "Major": 1,
    "Minor": 1,
    "Build": -1,
    "Revision": -1,
    "MajorRevision": -1,
    "MinorRevision": -1
  },
  "Content": {
    "Headers": [
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      },
      {
        "Key": "Content-Length",
        "Value": [
          "1414"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Location",
      "Value": [
        "https://manage.kontent.ai/v1.0/projects/{PROJECT_ID}/items/a20d13ad-862f-415c-8f68-a99f01f0dd01/variants/d1f95fde-af02-b3b5-bd9e-f232311ccab8"
      ]
    },
    {
      "Key": "Server",
      "Value": [
        "Microsoft-IIS/10.0"
      ]
    },
    {
      "Key": "X-KC-Backend-Name",
      "Value": [
        "us-01"
      ]
    },
    {
      "Key": "Request-Context",
      "Value": [
        "appId=cid-v1:74c4cbc5-b55a-433a-8fa9-c5909b7039d7"
      ]
    },
    {
      "Key": "Access-Control-Expose-Headers",
      "Value": [
        "Request-Context"
      ]
    },
    {
      "Key": "X-Powered-By",
      "Value": [
        "ASP.NET"
      ]
    },
    {
      "Key": "Accept-Ranges",
      "Value": [
        "bytes"
      ]
    },
    {
      "Key": "Date",
      "Value": [
        "Fri, 22 Nov 2019 18:10:29 GMT"
      ]
    },
    {
      "Key": "Via",
      "Value": [
        "1.1 varnish"
      ]
    },
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "X-Served-By",
      "Value": [
        "cache-vie21627-VIE"
      ]
    },
    {
      "Key": "X-Cache",
      "Value": [
        "MISS"
      ]
    },
    {
      "Key": "X-Cache-Hits",
      "Value": [
        "0"
      ]
    },
    {
      "Key": "X-Timer",
      "Value": [
        "S1574446229.309159,VS0,VE252"
      ]
    }
  ],
  "RequestMessage": {
    "Version": {
      "Major": 2,
      "Minor": 0,
      "Build": -1,
      "Revision": -1,
      "MajorRevision": -1,
      "MinorRevision": -1
    },
    "Content": {
      "Headers": [
        {
          "Key": "Content-Type",
          "Value": [
            "application/json; charset=utf-8"
          ]
        },
        {
          "Key": "Content-Length",
          "Value": [
            "629"
          ]
        }
      ]
    },
    "Method": {
      "Method": "PUT"
    },
    "RequestUri": "https://manage.kontent.ai/projects/{PROJECT_ID}/items/codename/hooray__a20d13a/variants/codename/es-ES",
    "Headers": [
      {
        "Key": "Authorization",
        "Value": [
          "Bearer {API_KEY}"
        ]
      },
      {
        "Key": "X-KC-SDKID",
        "Value": [
          "nuget.org;Kentico.Kontent.Management;{SDK_ID}"
        ]
      }
    ],
    "Properties": {}
  },
  "IsSuccessStatusCode": true
}