{
  "Version": {
    "Major": 1,
    "Minor": 1,
    "Build": -1,
    "Revision": -1,
    "MajorRevision": -1,
    "MinorRevision": -1
  },
  "Content": {
    "Headers": [
      {
        "Key": "Content-Length",
        "Value": [
          "257"
        ]
      },
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "Date",
      "Value": [
        "Wed, 13 Dec 2017 08:29:26 GMT"
      ]
    },
    {
      "Key": "Via",
      "Value": [
        "1.1 varnish"
      ]
    },
    {
      "Key": "Accept-Ranges",
      "Value": [
        "bytes"
      ]
    },
    {
      "Key": "Location",
      "Value": [
        "https://draft-cdn-master-2.azurewebsites.net/manageApi/projects/{PROJECT_ID}/items/70f4089c-757a-424e-9d44-1d2e78f4ca33"
      ]
    },
    {
      "Key": "Server",
      "Value": [
        "Microsoft-IIS/8.0"
      ]
    },
    {
      "Key": "Set-Cookie",
      "Value": [
        "ARRAffinity=61b530ca89548a0ee53edcd4e6ef21add182fc80cbc1cdf7bbbee3cfc35a51d8;Path=/;HttpOnly;Domain=draft-cdn-master-2.azurewebsites.net"
      ]
    },
    {
      "Key": "X-Powered-By",
      "Value": [
        "ASP.NET"
      ]
    },
    {
      "Key": "X-Served-By",
      "Value": [
        "cache-hhn1520-HHN"
      ]
    },
    {
      "Key": "X-Cache",
      "Value": [
        "MISS"
      ]
    },
    {
      "Key": "X-Cache-Hits",
      "Value": [
        "0"
      ]
    },
    {
      "Key": "X-Timer",
      "Value": [
        "S1513153766.953765,VS0,VE262"
      ]
    }
  ],
  "RequestMessage": {
    "Version": {
      "Major": 1,
      "Minor": 1,
      "Build": -1,
      "Revision": -1,
      "MajorRevision": -1,
      "MinorRevision": -1
    },
    "Content": {
      "Headers": [
        {
          "Key": "Content-Type",
          "Value": [
            "application/json; charset=utf-8"
          ]
        },
        {
          "Key": "Content-Length",
          "Value": [
            "48"
          ]
        }
      ]
    },
    "Method": {
      "Method": "POST"
    },
    "RequestUri": "https://manage.kenticocloud.com/projects/{PROJECT_ID}/items",
    "Headers": [
      {
        "Key": "Authorization",
        "Value": [
          "Bearer {API_KEY}"
        ]
      }
    ],
    "Properties": {}
  },
  "IsSuccessStatusCode": true
}