{
  "Version": "1.1",
  "Content": {
    "Headers": [
      {
        "Key": "Content-Length",
        "Value": [
          "3597"
        ]
      },
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "Location",
      "Value": [
        "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items/2edc395b-05fb-4790-b3a6-8a4a6b37f0f5/variants/78dbefe8-831b-457e-9352-f4c4eacd5024"
      ]
    },
    {
      "Key": "X-Request-ID",
      "Value": [
        "72ff1ffa25d6e74d"
      ]
    },
    {
      "Key": "X-KC-Backend-Name",
      "Value": [
        "eu-01"
      ]
    },
    {
      "Key": "Request-Context",
      "Value": [
        "appId=cid-v1:74c4cbc5-b55a-433a-8fa9-c5909b7039d7"
      ]
    },
    {
      "Key": "Access-Control-Expose-Headers",
      "Value": [
        "Request-Context"
      ]
    },
    {
      "Key": "Accept-Ranges",
      "Value": [
        "bytes"
      ]
    },
    {
      "Key": "Date",
      "Value": [
        "Fri, 23 Jul 2021 14:54:28 GMT"
      ]
    },
    {
      "Key": "Via",
      "Value": [
        "1.1 varnish"
      ]
    },
    {
      "Key": "X-Served-By",
      "Value": [
        "cache-hhn4077-HHN"
      ]
    },
    {
      "Key": "X-Cache",
      "Value": [
        "MISS"
      ]
    },
    {
      "Key": "X-Cache-Hits",
      "Value": [
        "0"
      ]
    },
    {
      "Key": "X-Timer",
      "Value": [
        "S1627052068.493476,VS0,VE135"
      ]
    }
  ],
  "TrailingHeaders": [],
  "RequestMessage": {
    "Version": "1.1",
    "VersionPolicy": 0,
    "Content": {
      "Headers": [
        {
          "Key": "Content-Type",
          "Value": [
            "application/json; charset=utf-8"
          ]
        },
        {
          "Key": "Content-Length",
          "Value": [
            "1107"
          ]
        }
      ]
    },
    "Method": {
      "Method": "PUT"
    },
    "RequestUri": "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items/codename/hooray__2edc395/variants/codename/es-ES",
    "Headers": [
      {
        "Key": "Authorization",
        "Value": [
          "Bearer {API_KEY}"
        ]
      },
      {
        "Key": "X-KC-SDKID",
        "Value": [
          "nuget.org;Kentico.Kontent.Management;{SDK_ID}"
        ]
      }
    ],
    "Properties": {},
    "Options": {}
  },
  "IsSuccessStatusCode": true
}