{
  "Version": {
    "Major": 1,
    "Minor": 1,
    "Build": -1,
    "Revision": -1,
    "MajorRevision": -1,
    "MinorRevision": -1
  },
  "Content": {
    "Headers": [
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "Method": {
    "Method": "PUT"
  },
  "RequestUri": "https://manage.kenticocloud.com/projects/{PROJECT_ID}/items/codename/hooray__4bdf7f5/variants/codename/es-ES",
  "Headers": [
    {
      "Key": "Authorization",
      "Value": [
        "Bearer {API_KEY}"
      ]
    }
  ],
  "Properties": {}
}