{
  "Version": "1.1",
  "Content": {
    "Headers": [
      {
        "Key": "Content-Length",
        "Value": [
          "5105"
        ]
      },
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "Location",
      "Value": [
        "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items/9a31e9d3-fc0d-40c8-84cf-aa6e167f6d2f/variants/78dbefe8-831b-457e-9352-f4c4eacd5024"
      ]
    },
    {
      "Key": "X-Request-ID",
      "Value": [
        "9263bc21c7f1b442"
      ]
    },
    {
      "Key": "X-KC-Backend-Name",
      "Value": [
        "eu-01"
      ]
    },
    {
      "Key": "Request-Context",
      "Value": [
        "appId=cid-v1:74c4cbc5-b55a-433a-8fa9-c5909b7039d7"
      ]
    },
    {
      "Key": "Access-Control-Expose-Headers",
      "Value": [
        "Request-Context"
      ]
    },
    {
      "Key": "Accept-Ranges",
      "Value": [
        "bytes"
      ]
    },
    {
      "Key": "Date",
      "Value": [
        "Thu, 12 Aug 2021 15:57:15 GMT"
      ]
    },
    {
      "Key": "Via",
      "Value": [
        "1.1 varnish"
      ]
    },
    {
      "Key": "X-Served-By",
      "Value": [
        "cache-hhn4049-HHN"
      ]
    },
    {
      "Key": "X-Cache",
      "Value": [
        "MISS"
      ]
    },
    {
      "Key": "X-Cache-Hits",
      "Value": [
        "0"
      ]
    },
    {
      "Key": "X-Timer",
      "Value": [
        "S1628783835.181170,VS0,VE155"
      ]
    }
  ],
  "TrailingHeaders": [],
  "RequestMessage": {
    "Version": "1.1",
    "VersionPolicy": 0,
    "Content": {
      "Headers": [
        {
          "Key": "Content-Type",
          "Value": [
            "application/json; charset=utf-8"
          ]
        },
        {
          "Key": "Content-Length",
          "Value": [
            "2045"
          ]
        }
      ]
    },
    "Method": {
      "Method": "PUT"
    },
    "RequestUri": "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items/codename/hooray_/variants/codename/es-ES",
    "Headers": [
      {
        "Key": "Authorization",
        "Value": [
          "Bearer {API_KEY}"
        ]
      },
      {
        "Key": "X-KC-SDKID",
        "Value": [
          "nuget.org;Kentico.Kontent.Management;{SDK_ID}"
        ]
      }
    ],
    "Properties": {},
    "Options": {}
  },
  "IsSuccessStatusCode": true
}