{
  "Version": "1.1",
  "Content": {
    "Headers": [
      {
        "Key": "Content-Length",
        "Value": [
          "1414"
        ]
      },
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "Location",
      "Value": [
        "https://manage.kontent.ai/v1.0/projects/{PROJECT_ID}/items/2b1a7414-0721-41d8-8efc-2d2805bec1e8/variants/d1f95fde-af02-b3b5-bd9e-f232311ccab8"
      ]
    },
    {
      "Key": "Server",
      "Value": [
        "Microsoft-IIS/10.0"
      ]
    },
    {
      "Key": "X-Request-ID",
      "Value": [
        "f1ab8e3592f59c45"
   [...]
