{
  "Version": "1.1",
  "Content": {
    "Headers": [
      {
        "Key": "Content-Length",
        "Value": [
          "332"
        ]
      },
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "Location",
      "Value": [
        "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items/b58eab5d-c1a1-4fc7-ad03-93d36243b24c"
      ]
    },
    {
      "Key": "X-Request-ID",
      "Value": [
        "81215b7c0091084e"
      ]
    },
    {
      "Key": "X-KC-Backend-Name",
      "Value": [
        "eu-01"
      ]
    },
    {
      "Key": "Request-Context",
      "Value": [
        "appId=cid-v1:74c4cbc5-b55a-433a-8fa9-c5909b7039d7"
      ]
    },
    {
      "Key": "Access-Control-Expose-Headers",
      "Value": [
        "Request-Context"
      ]
    },
    {
      "Key": "Accept-Ranges",
      "Value": [
        "bytes"
      ]
    },
    {
      "Key": "Date",
      "Value": [
        "Fri, 06 Aug 2021 10:00:56 GMT"
      ]
    },
    {
      "Key": "Via",
      "Value": [
        "1.1 varnish"
      ]
    },
    {
      "Key": "X-Served-By",
      "Value": [
        "cache-fra19165-FRA"
      ]
    },
    {
      "Key": "X-Cache",
      "Value": [
        "MISS"
      ]
    },
    {
      "Key": "X-Cache-Hits",
      "Value": [
        "0"
      ]
    },
    {
      "Key": "X-Timer",
      "Value": [
        "S1628244056.311416,VS0,VE85"
      ]
    }
  ],
  "TrailingHeaders": [],
  "RequestMessage": {
    "Version": "1.1",
    "VersionPolicy": 0,
    "Content": {
      "Headers": [
        {
          "Key": "Content-Type",
          "Value": [
            "application/json; charset=utf-8"
          ]
        },
        {
          "Key": "Content-Length",
          "Value": [
            "48"
          ]
        }
      ]
    },
    "Method": {
      "Method": "POST"
    },
    "RequestUri": "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items",
    "Headers": [
      {
        "Key": "Authorization",
        "Value": [
          "Bearer {API_KEY}"
        ]
      },
      {
        "Key": "X-KC-SDKID",
        "Value": [
          "nuget.org;Kentico.Kontent.Management;{SDK_ID}"
        ]
      }
    ],
    "Properties": {},
    "Options": {}
  },
  "IsSuccessStatusCode": true
}