{
  "Version": "1.1",
  "Content": {
    "Headers": [
      {
        "Key": "Content-Length",
        "Value": [
          "323"
        ]
      },
      {
        "Key": "Content-Type",
        "Value": [
          "application/json; charset=utf-8"
        ]
      }
    ]
  },
  "StatusCode": 201,
  "ReasonPhrase": "Created",
  "Headers": [
    {
      "Key": "Connection",
      "Value": [
        "keep-alive"
      ]
    },
    {
      "Key": "Location",
      "Value": [
        "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items/9499fc20-7328-4118-9cef-9ca27240fc7c"
      ]
    },
    {
      "Key": "X-Request-ID",
      "Value": [
        "0208fd4fff142e4c"
      ]
    },
    {
      "Key": "X-KC-Backend-Name",
      "Value": [
        "eu-01"
      ]
    },
    {
      "Key": "Request-Context",
      "Value": [
        "appId=cid-v1:74c4cbc5-b55a-433a-8fa9-c5909b7039d7"
      ]
    },
    {
      "Key": "Access-Control-Expose-Headers",
      "Value": [
        "Request-Context"
      ]
    },
    {
      "Key": "Accept-Ranges",
      "Value": [
        "bytes"
      ]
    },
    {
      "Key": "Date",
      "Value": [
        "Thu, 12 Aug 2021 14:23:50 GMT"
      ]
    },
    {
      "Key": "Via",
      "Value": [
        "1.1 varnish"
      ]
    },
    {
      "Key": "X-Served-By",
      "Value": [
        "cache-hhn4028-HHN"
      ]
    },
    {
      "Key": "X-Cache",
      "Value": [
        "MISS"
      ]
    },
    {
      "Key": "X-Cache-Hits",
      "Value": [
        "0"
      ]
    },
    {
      "Key": "X-Timer",
      "Value": [
        "S1628778231.792188,VS0,VE44"
      ]
    }
  ],
  "TrailingHeaders": [],
  "RequestMessage": {
    "Version": "1.1",
    "VersionPolicy": 0,
    "Content": {
      "Headers": [
        {
          "Key": "Content-Type",
          "Value": [
            "application/json; charset=utf-8"
          ]
        },
        {
          "Key": "Content-Length",
          "Value": [
            "48"
          ]
        }
      ]
    },
    "Method": {
      "Method": "POST"
    },
    "RequestUri": "https://manage.kontent.ai/v2/projects/{PROJECT_ID}/items",
    "Headers": [
      {
        "Key": "Authorization",
        "Value": [
          "Bearer {API_KEY}"
        ]
      },
      {
        "Key": "X-KC-SDKID",
        "Value": [
          "nuget.org;Kentico.Kontent.Management;{SDK_ID}"
        ]
      }
    ],
    "Properties": {},
    "Options": {}
  },
  "IsSuccessStatusCode": true
}