name: Publish to NuGet

on:
  release:
    types: [published]

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # Required for OIDC token issuance
      contents: write   # Required for uploading release assets
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Extract version from tag
        id: get_version
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          echo "version-without-v=$VERSION" >> $GITHUB_OUTPUT
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore --configuration Release /p:ContinuousIntegrationBuild=true /p:Version="${{ steps.get_version.outputs.version-without-v }}"
      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
      - name: Codecov
        uses: codecov/codecov-action@v5
      - name: Pack
        run: dotnet pack --no-build --include-symbols --verbosity normal --configuration Release --output ./artifacts /p:PackageVersion="${{ steps.get_version.outputs.version-without-v }}"
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "NuGet packages"
          path: ./artifacts
      - name: NuGet login
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: ${{ secrets.NUGET_USER }}
      - name: Publish artifacts to NuGet.org
        run: dotnet nuget push './artifacts/*.nupkg' -s https://api.nuget.org/v3/index.json -k ${{ steps.nuget-login.outputs.NUGET_API_KEY }} --skip-duplicate
      - name: Upload artifacts to the GitHub release
        run: gh release upload "$GITHUB_REF_NAME" ./artifacts/*.nupkg ./artifacts/*.snupkg --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
